@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1 class="display-4">Massachusetts Environmental Protection</h1>
</header>
<body>
    <div class="linkgrid">
        <div class="link-item">
            <a href="https://github.com">Action Plan</a>
        </div>
        <div class="link-item">
            <a>Bill Search</a>
        </div>
        <div class="link-item">
            <a>Organizations</a>
        </div>
        <div class="link-item">
            <a>Find Recycling</a>
        </div>
    </div>
</body>
