@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1 class="display-4">Massachusetts Environmental Protection</h1>
</header>
    <body>
        <div class = buttongrid>
            <button>Action Plan</button>
            <button>Bill Search</button>
            <button>Organizations</button>
            <button>Find Recycling</button>
        </div>
    </body>
