html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.display-4 {
    text-align: center;
}

.linkgrid {
    text-align: center;
    padding: 16px 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 610px;
    height: 210px;
    column-gap: 15px;
    row-gap: 1em;
    font-size: 16px;
    margin: auto;
}

.link-item {
    display: table-cell;
    vertical-align: middle;
    color: #373737;
    background-color: #EBEBEB;
    outline-color: #9A9A9A;
    max-width: 300px;
    height: 100px;
    border: none;
    cursor: pointer;
    padding-top: 37px;
}